.sortblock {
  height: 37px;
  min-width: 187px;
  position: relative;
  display: inline-block;
}

.sortblock select {
  background-color: var(--grayf4);
  border: none;
  color: var(--orange);
  padding: 6px 35px 11px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

@media (width < 1024px) {

  .sortblock {
    padding-left: 40px;
    padding-bottom: 0px;
  }

  .sortblock select {
    padding-bottom: 0px;
  }
}