.sortblock {
    position: relative;
    display: inline-block;
  }
  
  .sortblock select {
    background-color: var(--grayf4);
    border: none;
    color: var(--orange);
    padding: 11px 35px 11px 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  