.sortblock {
    position: relative;
    display: inline-block;
  }
  
  .sortblock select {
    background-color: var(--grayf4);
    border: none;
    color: var(--orange);
    padding: 11px 35px 11px 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  
  /* Кастомная стрелка */
  .sortblock::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 16px;
    background-image: url('data:image/svg+xml;utf8,<svg ...></svg>');
    pointer-events: none;
  }