.CommentFormContainer {
    display: flex;
    flex-direction: row;
    width: 100%;    
    min-height: 50px;
    margin-top: '20px';
    border: 2px #616161;
    border-radius: 3px;
}

.comment {  
    width: 100%;
}
