.card {
    background-color: var(--white);
border-radius: 7px;
display: flex;
flex-flow: row wrap;
position: relative;
}

.avtor {
    margin-left: 7px;
    color: var(--orange);

}

.card > *, .textcontent >* {
    flex:1 1 100%;
}

.textContent {
    display: flex;
    flex-flow: row wrap;
    padding: 22px 20px 13px 20px;

}

.metaData {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 10px;
    line-height: 12px;

}

.userlink {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 20px;
    padding: 0 6px 0 0;

}

.avatar {
    border-radius: 20px;
    width: 20px;
    height: 20px;
}


/* .username {
    color: var(--orange);
} */

.createdAt, .createdAt * {
    color: var(--grayc4);
}

.title {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    margin: 0;
    padding: 7px 0 0;
}

.postlink {
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;

}



.previewImg {
    width: 100%;
    max-width: 320px;
    height: 100%;
    max-height: 178px;
    object-fit: cover;
}



.controls{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 20px 10px 20px;
}

.down {
    transform: rotate(180deg);
}

.karmavalue, .commentsNumber {
    color: var(--grayc4);
    margin-left: 4px;
    margin-right: 4px;
}

.commentsButton svg {
    position: relative;
transform: translate(0, 4px);
}
.savebutton {
    margin-left: 15px;
}

.shareButton, .savebutton {
        position: relative;
transform: translate(0, 4px);
}




@media all and (min-width: 1540px) {
    .card {
        padding: 0 60px;
    }

    .textContent {
        flex-basis: 672px;
    }
}