
.avatar {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    padding: 5px;
}

@media all and (min-width: 1024px) {

.card {
    background-color: var(--white);
    border-radius: 7px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 40px;
    position: relative;
}

.avtor {
    color: var(--orange);
}


.textContent {
    height: 71px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-left: 38px;
    min-width: 540px;
}

.metaData {
    display: flex;
    flex-direction: row-reverse;
    justify-content:start;
    align-items: center;
    font-size: 14px;
    line-height: 16.41px;
}

.userlink {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 20px;
}


.createdAt, .createdAt * {
    color: var(--grayc4);
}

.title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.postlink {
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

    .preview {
        order: -1;

    }

.previewImg {
    padding: 0;
    margin: 0;
    width: 190px;
    height: 107px;
    object-fit: cover;
    border-radius: 3px;
}

.whitespace {
    margin-left: 5px;
}

.controls {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: end;
    padding: 0 20px 10px 20px;
}




.karmaCounter {
    display: flex;
    flex-direction: column;
}

.karmavalue, .commentsNumber {
    color: var(--grayc4);
    margin-left: 4px;
    margin-right: 4px;
}

.up {
    /* Ваши стили */
}

.down {
    transform: rotate(180deg);
}

.up :hover {
    fill: var(--green);
}

.down :hover {
    fill: var(--orange);
}

.down :active, .up :active {
    fill: var(--gray99);
}

.commentsNumber {
    display: none;
}

.commentsButton svg {
    display: none;

    position: relative;
    transform: translate(0, 4px);
}

.savebutton {
    margin-left: 15px;
}

.shareButton, .savebutton {
    display: none;
    
    position: relative;
    transform: translate(0, 4px);
}

/* Добавьте недостающие классы */
.publishedLabel {
    /* Ваши стили */
}



.karmaCounter {
    /* Ваши стили */
}


.action {
    /* Ваши стили */
}

}